@model List<CRUDOperation.Models.RazorViewModels.Role.UserRoleVM>
@{
    var roleId = ViewBag.roleId;
    ViewData["Title"] = "EditUsersInRole";
}
<form method="post">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].isSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].isSelected">@Model[i].UserName</label>
                </div>
            }
        </div>
        <div class="card-footer">
            <Input type="submit" class="btn btn-primary" value="Update" style="width:auto" />
            <a asp-action="Edit" asp-route-id="@roleId" class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>
